


<!-- <div class="bg">
<div class="col-md-4 offset-4">
    <div class="container">
        
            
            <form name = "regForm" #regForm="ngForm" (ngSubmit)="regForm.form.valid && onSubmit()">
                <fieldset>
                    <legend class="text-center">Sign Up for LapLunch <span class="req"><small>
                                 </small></span></legend>

                    

                    <div class="form-group">
                        <label for="email"> Email: </label>
                        <div class="input_icons">
                            
                        <input class="form-control" type="email" [(ngModel)]="user.userEmailId" name="userEmailId" #userEmailId="ngModel"  required
                        [ngClass]="{'is-invalid':regForm.submitted && userEmailId.invalid}" placeholder="Enter valid email address" required /> 
                        
                    </div>
                        <div class="invalid-feedback">
                            <div>Email is required</div>
                          </div>
              
                    </div>

                    <div class="form-group">
                        <label for="firstname"><span class="req"> </span> First Name : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.firstName" name="firstName" id="txt"
                            placeholder="Enter your firstname" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req"> </span> Last Name: </label>
                        <input class="form-control" required type="text" [(ngModel)]="user.lastName" name="lastName"
                            id="txt" placeholder="Enter your lastname" required/>
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="password"><span class="req"></span> Password: </label>
                        <input class="form-control" required type="password" [(ngModel)]="user.password" name="password"
                            id="txt" placeholder="Enter your Password" required/>
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <label for="Create Password"><span class="req"></span> Confirm Password: </label>
                        <input class="form-control" required type="password" [(ngModel)]="user.password" name="confirm password"
                            id="txt" placeholder="Confirm your Password" required/>
                        <div class="status" id="status"></div>
                    </div>

                   
                    <div class="form-group" style="margin-top: 10px;">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register"  (click)="registerNow()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div> -->


<!-- 
<form [formGroup]="registrationForm" (ngSubmit)="demo()">
    <input type="email" placeholder="Enter valid email" formControlName="userEmailId" [(ngModel)]="user.userEmailId">
    <br> <br>
    <input type="text" placeholder="Enter Firstname" formControlName="firstName">
    <br> <br>
    <input type="text" placeholder="Enter Lastname" formControlName="lastName">
    <br> <br>
    <input type="password" placeholder="Enter Password" formControlName="password">
    <br> <br>
    <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
    <br> <br>
    <button>Register</button>
</form> -->


<!-- <div class="bg">
    <div class="col-md-4 ">
    <div class="container">
        <h1>Sign Up for LapLunch</h1>
       
      <form [formGroup]="regForm" style="margin-top: 50px;" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          
          <div class="input-icons">
            
            <input type="email" class="form-control" formControlName="userEmailId" placeholder="laplunch@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <span class="text-danger"
                                *ngIf="(f.userEmailId.touched || submitted) && f.userEmailId.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.userEmailId.touched && f.userEmailId.errors?.email">
                                Enter a valid email address
                            </span>
          </div>
          </div>
          
        <br>
        
        <div class="form-group">
          
          <div class="input-icons">
         
           <input type="text" class="form-control" formControlName="firstName" placeholder="Enter Firstname" >
           <span class="text-danger"
                                *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                                Firstname is required
                            </span>
          </div>
        </div>
        <br>

        <div class="form-group">
            
            <div class="input-icons">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Lastname">
              <span class="text-danger"
                                *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                                Lastname is required
                            </span>
            </div>
            </div>
          <br>

          <div class="form-group">
            
            <div class="input-icons">
              <input type="email" class="form-control" formControlName="password" placeholder="Enter password">
              <span class="text-danger"
                                *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.password.touched && f.password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
            </div>
        </div>
          <br>

          <div class="form-group">
           
            <div class="input-icons">
              <input type="email" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
              <span class="text-danger"
                                *ngIf="(f.confirmPassword.touched || submitted)&& f.confirmPassword.errors?.required">
                                Confirm Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                                Passwords doesnot match
                            </span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="bt">
                <button type="submit" class="btn btn-dark" routerLink="./" >Register</button>
              </div>
        </div>
    
   
      </form>
      </div>
    </div>
</div> -->

<div class="bg">
    <div class="col-md-4">
        <div class="container">
            <h1>Sign Up for LapLunch</h1>
            <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-icons">
                        <input type="email" class="form-control" formControlName="userEmailId" placeholder="laplunch@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <span class="text-danger"
                                *ngIf="(f.userEmailId.touched || submitted) && f.userEmailId.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.userEmailId.touched && f.userEmailId.errors?.email">
                                Enter a valid email address
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Enter Firstname" >
                            <span class="text-danger"
                                *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                                Firstname is required
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Lastname">
                            <span class="text-danger"
                                *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                                Lastname is required
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="email" class="form-control" formControlName="password" placeholder="Enter password">
                            <span class="text-danger"
                                *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.password.touched && f.password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="email" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
                            <span class="text-danger"
                                *ngIf="(f.confirmPassword.touched || submitted)&& f.confirmPassword.errors?.required">
                                Confirm Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                                Passwords doesnot match
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <div class="bt">
                            <button type="submit" class="btn btn-dark" routerLink="./" >Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                   
                
            
        
    

