<div class="bg">
    <div class="col-md-4">
        <div class="container">
            <h1>Sign Up for LapLunch</h1>
            <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-icons">
                        <input type="email" class="form-control" formControlName="userEmailId" placeholder="laplunch@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <span class="text-danger"
                                *ngIf="(f.userEmailId.touched || submitted) && f.userEmailId.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.userEmailId.touched && f.userEmailId.errors?.email">
                                Enter a valid email address
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Enter Firstname" >
                            <span class="text-danger"
                                *ngIf="(f.firstName.touched || submitted) && f.firstName.errors?.required">
                                Firstname is required
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Enter Lastname">
                            <span class="text-danger"
                                *ngIf="(f.lastName.touched || submitted) && f.lastName.errors?.required">
                                Lastname is required
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="email" class="form-control" formControlName="password" placeholder="Enter password">
                            <span class="text-danger"
                                *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                                Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.password.touched && f.password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <input type="email" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
                            <span class="text-danger"
                                *ngIf="(f.confirmPassword.touched || submitted)&& f.confirmPassword.errors?.required">
                                Confirm Password is required
                            </span>
                            <span class="text-danger"
                                *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
                                Passwords doesnot match
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icons">
                        <div class="bt">
                            <button type="submit" class="btn btn-dark" routerLink="./" >Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                   
                
            
        
    

