.inner{
    overflow: hidden;
}

.inner .img{
    transition: all 1.5s ease;
}

.inner:hover img{

    transition: 0.3s ease-in-out;
    transform: scale(1.5);
}

.container{
    padding: 10px;
}

dialog {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 70%;
    height: 240%;
    background-color: white;
    backdrop-filter: blur(3px);
    z-index: 5;
    margin-top: 30px;
    
  }



