<!-- <app-header></app-header> -->
<!-- sidebar-->
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a
            href="/profile"
            class="list-group-item list-group-item-action py-2 ripple active"
            aria-current="true"
          >
            <span>Orders</span>
          </a>
          <a
            href="/profile-subscription"
            class="list-group-item list-group-item-action py-2 ripple"
            aria-current="true"
          >
            <span>Subscription plan</span>
          </a>

          <a
            href="/profile-address"
            class="list-group-item list-group-item-action py-2 ripple"
          >
            <span>Addresses</span></a
          >
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div> -->

<!--Profile Top-->
<div
  class="container-fluid"
  style="background-color: floralwhite; height: 200px"
>
  <div class="row">
    <div class="col-3">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
        alt="Avatar"
        class=""
        style="
          width: 100px;
          border-radius: 0.5rem;
          float: right;
          margin-top: 40px;
        "
      />
    </div>
    <div class="col-9" style="padding-top: 60px">
      <div class="row">
        <div>
          <h5 style="font-size: 50px">
            {{ userData.firstName }} {{ userData.lastName }}
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <h6>Email: {{ userEmailId }}</h6>
        </div>
        <div class="col-3">
          <h6>Mobile: {{ userData.mobileNum }}</h6>
        </div>

        <div class="col-6">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editProfileModal"
            style="float: right; margin-right: 100px"
            (click)="editButtonProfile()"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Profile edit popup -->
<div
  class="modal fade"
  id="editProfileModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]= "userformValue">
          <div class="form-group row">
            <label for="" class="col-4 col-form-label">Mobile</label>
            <div class="col-8">
              <input
                id=""
                name=""
                type="text"
                class="form-control"
                formControlName="mobileNum"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-4 col-form-label">First Name</label>
            <div class="col-8">
              <input
                id=""
                name=""
                type="text"
                class="form-control"
                formControlName="firstName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-4 col-form-label">Last Name</label>
            <div class="col-8">
              <input
                id=""
                name=""
                type="text"
                class="form-control"
                formControlName="lastName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-4 col-form-label">Password</label>
            <div class="col-8">
              <input id="" name="" type="password" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-4 col-form-label">Confirm Password</label>
            <div class="col-8">
              <input id="" name="" type="password" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-4 col-8">
              <button
                name="submit"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="updateUserDetails()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Order details-->
<div class="pos-details">
  <div>
    <div>
      <div style="font-size: 24px; font-weight: 600">Past Orders</div>
      <div class="order-card" *ngFor="let order of orderData">
        <div class="item-card" *ngFor="let item of order.itemsList">
          <div class="image-card">
            <img
              src="https://is4-ssl.mzstatic.com/image/thumb/Purple71/v4/3b/e2/8a/3be28a88-e783-8074-77a3-11c5cdae302f/source/512x512bb.jpg"
              alt=""
              style="aspect-ratio: auto 300/200; width: 100px"
            />
          </div>
          <div class="item-card-details">
            <h5>{{ item.itemName }}</h5>
            <h6>{{ item.qty }}</h6>
            <h6>Price: {{ item.itemCost }}</h6>
          </div>
        </div>
        <h6 style="font-size: 17px; color: #686b78">
          Order Id: {{ order.orderId }}
        </h6>
        <h6 style="font-size: 13px; color: #686b78">{{ order.time }}</h6>
        <div class="float-right">
          <h5 style="font-size: 18px">Total Paid: {{ order.totalPrice }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div
            style="
              width: 80%;
              background-color: aqua;
              margin-left: 20%;
              height: 100vh;
              z-index: 9;
            "
          >
            <h1>Testing</h1>
          </div>
        </div>
        <div class="col-md-8"></div>
      </div>
    </div> -->
