<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="profile.component.css" />
    <script>
      jQuery(document).ready(function ($) {
        var bsDefaults = {
            offset: false,
            overlay: true,
            width: "330px",
          },
          bsMain = $(".bs-offset-main"),
          bsOverlay = $(".bs-canvas-overlay");

        $('[data-toggle="canvas"][aria-expanded="false"]').on(
          "click",
          function () {
            var canvas = $(this).data("target"),
              opts = $.extend({}, bsDefaults, $(canvas).data()),
              prop = $(canvas).hasClass("bs-canvas-right")
                ? "margin-right"
                : "margin-left";

            if (opts.width === "100%") opts.offset = false;

            $(canvas).css("width", opts.width);
            if (opts.offset && bsMain.length) bsMain.css(prop, opts.width);

            $(canvas + " .bs-canvas-close").attr("aria-expanded", "true");
            $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr(
              "aria-expanded",
              "true"
            );
            if (opts.overlay && bsOverlay.length) bsOverlay.addClass("show");
            return false;
          }
        );

        $(".bs-canvas-close, .bs-canvas-overlay").on("click", function () {
          var canvas, aria;
          if ($(this).hasClass("bs-canvas-close")) {
            canvas = $(this).closest(".bs-canvas");
            aria = $(this).add(
              $(
                '[data-toggle="canvas"][data-target="#' +
                  canvas.attr("id") +
                  '"]'
              )
            );
            if (bsMain.length)
              bsMain.css(
                $(canvas).hasClass("bs-canvas-right")
                  ? "margin-right"
                  : "margin-left",
                ""
              );
          } else {
            canvas = $(".bs-canvas");
            aria = $('.bs-canvas-close, [data-toggle="canvas"]');
            if (bsMain.length)
              bsMain.css({
                "margin-left": "",
                "margin-right": "",
              });
          }
          canvas.css("width", "");
          aria.attr("aria-expanded", "false");
          if (bsOverlay.length) bsOverlay.removeClass("show");
          return false;
        });
      });
    </script>
  </head>
  <body>
    <div
      id="bs-canvas-right"
      class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed bg-light h-100"
      data-width="400px"
    ></div>
    <div
      id="bs-canvas-right"
      class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed bg-light h-100"
    >
      <header class="bs-canvas-header p-3 bg-primary overflow-auto">
        <button
          type="button"
          class="bs-canvas-close float-left close"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-light">&times;</span>
        </button>
        <h4 class="d-inline-block text-light mb-0 float-right">
          Canvas Header
        </h4>
      </header>
      <div class="bs-canvas-content px-3 py-5">...</div>
    </div>

    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="collapse d-lg-block sidebar collapse bg-white"
        >
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a
                href="/profile"
                class="list-group-item list-group-item-action py-2 ripple active"
                aria-current="true"
              >
                <span>Orders</span>
              </a>
              <a
                href="/profile-subscription"
                class="list-group-item list-group-item-action py-2 ripple"
                aria-current="true"
              >
                <span>Subscription plan</span>
              </a>

              <a
                href="/profile-address"
                class="list-group-item list-group-item-action py-2 ripple"
              >
                <span>Addresses</span></a
              >
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- <div class="sidebar">
      <a class="active" href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div> -->

    <div
      class="container-fluid"
      style="background-color: floralwhite; height: 200px"
    >
      <div class="row">
        <div class="col-3">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
            alt="Avatar"
            class=""
            style="
              width: 100px;
              border-radius: 0.5rem;
              float: right;
              margin-top: 40px;
            "
          />
        </div>
        <div class="col-9" style="padding-top: 60px">
          <div class="row">
            <div>
              <h5>Harsha Vardhan</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3"><h6>Email: info@example.com</h6></div>

            <div class="col-md-3"><h6>Mobile: 123 456 789</h6></div>

            <div class="col-md-6">
              <button
                class="btn btn-primary"
                style="float: right; margin-right: 7%"
                type="button"
                data-toggle="canvas"
                data-target="#bs-canvas-right"
                aria-expanded="false"
                aria-controls="bs-canvas-right"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pos-details">
      <div>
        <div>
          <div style="font-size: 24px; font-weight: 600">Past Orders</div>
          <div class="order-card" *ngFor="let order of orderData">
            <div class="item-card" *ngFor="let item of order.itemsList">
              <div class="image-card">
                <img
                  src="https://is4-ssl.mzstatic.com/image/thumb/Purple71/v4/3b/e2/8a/3be28a88-e783-8074-77a3-11c5cdae302f/source/512x512bb.jpg"
                  alt=""
                  style="aspect-ratio: auto 300/200; width: 100px"
                />
              </div>
              <div class="item-card-details">
                <h5>{{ item.itemName }}</h5>
                <h6>{{ item.qty }}</h6>
                <h6>Price: {{ item.itemCost }}</h6>
              </div>
            </div>
            <h6 style="font-size: 17px; color: #686b78">
              Order Id: {{ order.orderId }}
            </h6>
            <h6 style="font-size: 13px; color: #686b78">{{ order.time }}</h6>
            <div class="float-right">
              <h5 style="font-size: 18px">
                Total Paid: {{ order.totalPrice }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div
            style="
              width: 80%;
              background-color: aqua;
              margin-left: 20%;
              height: 100vh;
              z-index: 9;
            "
          >
            <h1>Testing</h1>
          </div>
        </div>
        <div class="col-md-8"></div>
      </div>
    </div> -->
  </body>
</html>
