<body>
  <app-header></app-header>

  <div class="container-fluid">
    <div class="row">
      <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
      >
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <!-- <a
                href="/profile"
                class="list-group-item list-group-item-action py-2 ripple"
              >
                
                <span>Profile</span>
              </a> -->

            <a
              href="/profile-order"
              class="list-group-item list-group-item-action py-2 ripple active"
              aria-current="true"
            >
              <!-- <i class="fas fa-tachometer-alt fa-fw me-3"></i> -->
              <span>Orders</span>
            </a>
            <a
              href="/profile-subscription"
              class="list-group-item list-group-item-action py-2 ripplAe"
              aria-current="true"
            >
              <!-- <i class="fas fa-tachometer-alt fa-fw me-3"></i> -->
              <span>Subscription plan</span>
            </a>

            <a
              href="/profile-address"
              class="list-group-item list-group-item-action py-2 ripple"
            >
              <!-- <i class="fas fa-lock fa-fw me-3"></i> -->
              <span>Addresses</span></a
            >
            <!-- <a
              href="#"
              class="list-group-item list-group-item-action py-2 ripple"
            >
            
              <span>Settings</span></a
            > -->
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div
    class="container-fluid"
    style="background-color: floralwhite; height: 200px"
  >
    <div class="row">
      <div class="col-3">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          alt="Avatar"
          class=""
          style="
            width: 100px;
            border-radius: 0.5rem;
            float: right;
            margin-top: 40px;
          "
        />
      </div>
      <div class="col-9" style="padding-top: 60px">
        <div class="row">
          <div>
            <h5>Harsha Vardhan</h5>
          </div>
        </div>

        <div class="row">
          <h6 class="col-3">Email: info@example.com</h6>
          <h6 class="col-3">Mobile: 123 456 789</h6>
          <div class="col-6">
            <button
              class="btn btn-primary"
              style="float: right; margin-right: 100px"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pos-details">
    <div>
      <div>
        <div style="font-size: 24px; font-weight: 600">Past Orders</div>
        <div class="order-card">
          <div class="item-card">
            <div class="image-card">
              <img
                src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_508,h_320,c_fill/q9loqwhnc6kdbj06rnpi"
                alt=""
                style="aspect-ratio: auto 300/200; width: 150px"
              />
            </div>
            <div class="item-card-details">
              <h5>Dosa</h5>
              <h6>Qty: 2</h6>
              <h6>Price: 25/-</h6>
            </div>
          </div>
          <h6 style="font-size: 17px; color: #686b78">Order Id:1</h6>
          <h6 style="font-size: 13px; color: #686b78">Date and time</h6>
          <div class="float-right">
            <h5 style="font-size: 18px">Total Paid: 50</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
