 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">
</head>
<body>
  
 <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->



<footer>
<div class="container">
  <div class="sec abtus">
    <h2>About Us</h2>
    <!-- <i class="fa-brands fa-facebook-f"></i> -->
    <p>
      We team laplunch are here to stop your food cravings!!
    </p>

  </div>
  
  <ul class="sci">
    
    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
 
  </ul>
  
</div>
<br><br>
<div class="sec quicklinks">
  <h2><u>Quick Links</u></h2>
  <ul>
  <li><a href="#">About</a></li>
  <li><a href="#">FAQ</a></li>
  <li><a href="#">Privacy Policy</a></li>
  <li><a href="#">Help</a></li>
  <li><a href="#">Terms & conditions</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>
</div>
<div class="sec contact">
  <h2 ><u>Contact Us</u></h2>
  <ul class="info">
    <li>
      <span><i class="fas fa-map-marked-alt"></i></span>
      <span>Laplunch Main Office<br>
      Gachibowli, Telangana
      </span>
    </li>
    <li>
      <span><i class="fas fa-phone-square-alt"></i></span>
      <p><a href="">+91 9228191916</a></p>
    </li>
    <li>
      <span><i class="far fa-envelope"></i></span>
      <p><a href="">Support@laplunch.com</a></p>
    </li>
  </ul>
</div>

</footer>
<div class="copyright">
<p>Cpoyright @ LapLunch</p>
</div>

</body>
</html>
