
*
{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-inline-size: 100vh;
    flex-direction: column;
    background: grey;
}

footer{
    position: bottom;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;


}

footer .container{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.abtus{
width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    /* margin-left: -20px; */
}

footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer  p{
    color: white;
    /* margin-left: -20px; */
}

.sci{
    margin-top: 20px;
    display: flex;
    color: #fff;
}

.sci li{
    list-style:none;
    color: #fff;
    color: #fff;
}

.sci li a{
    display: inline-block;
    width: 50px;
    height: 50px;
   /* justify-content: center;
   align-items: center;
   margin-right: 10px;
   text-decoration: none; */
   /* border-radius: 4px; */
   color: #fff;

}

/* .sci li a:hover{
    background: wheat;
} */

.quicklinks{
    position: relative;
    width: 25%;
    color: #fff;
   
}



.quicklinks ul li{
    list-style: none;
    
}

/* footer .sec.quicklinks h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */

.quicklinks ul li a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover{

    color: white;
}

.contact{

    width: calc(35%-60px);
    margin-right: 0 !important;
    color: white;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: antiquewhite;
    font-size: 20px;
    /* margin-left: 50%; */
}

.contact .info li span{
    color:  rgb(193, 22, 22);
}
.contact .info li span:hover{
    color:  white;
}

.contact .info li a{
    color: rgb(193, 22, 22);
    /* margin-right: 15px; */
}

.contact .info li a:hover{

    color: #fff;

}

.copyright{

    width: 100%;
    background :wheat;
    padding: 8px 100px;
    text-align: center;
    color: black;
}

@media (max-width:991px) {

    footer{
        padding: 40px;
    }
    
    footer .container{
        flex-direction: column;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container sec.abtus,
    .quicklinks,.contact{
        width: 100%;
    }
    .copyright{
        
        padding: 8px 40px;
        text-align: center;
        color: black;
    }
}



